/*CSS by Laura Richter*/

/*Imported Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');


/*CSS Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Root Colors*/
:root{
    --teal :#4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57;
    --pink:#D9526F;
    --dark-gray:#1E1E1E; 
    --white:#ffffff; 
}

body{
    font-family: "Inter";
    line-height: 1.5rem;
    margin: 0 auto;
    max-width: 450px;
    background-color: var(--purple);
}

header h1{
    background-color: var(--lavender);
    text-align: center;
    padding: 2rem;
    padding-top: 3rem;
    border-radius: 0px 0px 25px 25px;
}

header p{
    background-color: var(--pink);
    text-align: center;
    color: vaR(--white);
    font-style: italic;
    padding-top: 1rem;
    padding-bottom: 0.25rem;
    border-radius: 0px 0px 25px 25px;
    width: 90%;
    margin: 0 auto;
}

h1, h2{
    font-family: "Kavoon";
    color: var(--white);
}

h1{
    font-size: 3em;
}

nav h2{
    font-size: 1.5em;
    color: var(--black);
    text-transform: uppercase;
    background-color: var(--yellow);
    padding: 1rem;
    position: fixed;
    top: 0px;
    right: 0px;
    border-radius: 0px 0px 10px 10px;
}

nav li{
    visibility: hidden;
}

h2{
    font-size: 2em;
    padding: 1rem;
}

h3{
    font-size: 1.5em;
    color: var(--yellow);
    font-weight: bold;
    padding-left: 1rem;
}

h4{
    font-size: 1.15em;
    color: var(--purple);
    font-weight: bold;
    padding: 0.5rem 0rem;
}

p{
    color: var(--black);
}

#services section{
    background-color: var(--white);
    border-radius: 10px;
    padding: 1.5rem;
    margin: 1rem;
}

#why{
    background-color: var(--pink);
}

#why ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1rem;
    gap: 1rem;
    font-weight: bold;
    text-align: center;
}

#why li:first-child{
    background-color: var(--teal);
    padding: 1rem;
    border-radius: 15px;
}

#why li:nth-child(2){
    background-color: var(--lavender);
    padding: 1rem;
    border-radius: 15px;
}

#why li:nth-last-child(2){
    background-color: var(--yellow);
    padding: 1rem;
    border-radius: 15px;
}

#why li:last-child{
    background-color: var(--white);
    padding: 1rem;
    border-radius: 15px;
}

table{
    margin: 0.5rem auto;
    background-color: var(--yellow);
}

thead th{
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem 0;
}

tbody td{
    background-color: var(--white);
    padding: 1rem;
    border: 0.15rem solid var(--yellow);
}

#steps{
    background-color: var(--pink);
}

#steps p{
    padding: 0 1rem;
    color: var(--white);
}

/*Original/Given styles

body{
    font-family: "Inter";
    margin: 0 auto;
    max-width: 450px;
    background-color: var(--purple);
}
  
h1, h2{
    font-family: "Kavoon";
    color: var(--white);
}

h1{
    font-size: 3em;
}

nav h2{
    font-size: 1.5em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
}

h4{
    font-size: 1.15em;
}*/